#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 103px);
  justify-content: space-evenly;
  gap: 2px;
}

.board > div {
  height: 100px;
  width: 100px;
  background-color: grey;
  border: black 2px solid;
  cursor: pointer;
}

.card {
  padding: 2em;
}
