#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 103px);
  justify-content: space-evenly;
  gap: 2px;
  margin-bottom: 20px;
}

.board > div {
  align-content: center;
  height: 100px;
  width: 100px;
  background-color: grey;
  border: black 2px solid;
  cursor: pointer;
  font-size: 60px;
}

.board > div:hover {
  background-color: lightgrey;
}

.card {
  padding: 2em;
}

.error {
  background-color: darkred;
}
